#jeu{
	position: relative;
	top:100px;
}
#saisirMot{
	position: absolute;
	left: 850px;
	top:200px;
}

#fond img{
	position: absolute;
	left:500px;
}

#menu{
	position: absolute;
	left : 850px;
	top: 150px;

}

#reessayer{
	position: absolute;
	left : 850px;
	top: 250px;
}

#signal{
	position: absolute;
	left : 850px;
	top: 200px;
	color: #FFF;
	font-size: 32px;
}

.titre{
	color: #FFF;
	margin: 0px 0px 50px 0px;
	font-size: 32px;
}

#temps{
	position: absolute;
	left: 862px;
	top:30px;
	color: #FFF;
	font-size: 24px;
	font-family: "Times New Roman", Times, serif;
}

#athlete{
	position: absolute;
	max-width: 90px;
	top:350px;
	left:600px;
}
